.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureEmoji {
  display: inline-block;
  font-size: 3rem;
  line-height: 1;
  font-family: "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji",
    sans-serif;
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 996px) {
  .featureEmoji {
    font-size: 3.5rem;
  }
}
